{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<a class="btn btn-light d-flex align-items-center dropdown-toggle"
   data-toggle="dropdown"
   href="#"
   id="sylius-cart-total" {{ sylius_test_html_attribute('cart-total') }}>
    <span class="pr-3">{{ money.convertAndFormat(cart.itemsTotal) }}</span>
    <span>{{ icons.cart('h1 m-0') }}</span>
    <span class="badge badge-pill badge-primary" style="transform: translate(-8px, 10px)">{{ cart.items|length }}</span>
</a>
