<div class="tab-pane fade show active" id="nav-details">
    {% include '@SyliusShop/Product/Show/Tabs/_details.html.twig' %}
</div>
<div class="tab-pane fade" id="nav-attributes">
    {% include '@SyliusShop/Product/Show/Tabs/_attributes.html.twig' %}
</div>
<div class="tab-pane fade" id="nav-reviews">
    {% include '@SyliusShop/Product/Show/Tabs/_reviews.html.twig' %}
</div>
