##################################
# Blackfire profiling            #
##################################
# Set BLACKFIRE=true to enable   #
# and configure values below.    #
##################################
BLACKFIRE=false
BLACKFIRE_CLIENT_ID=
BLACKFIRE_CLIENT_TOKEN=
BLACKFIRE_SERVER_ID=
BLACKFIRE_SERVER_TOKEN=
BLACKFIRE_LOG_LEVEL=3

##################################
# PHP version                    #
##################################
PHP_VERSION=7.3

##################################
# Sylius                         #
##################################
SYLIUS_FIXTURES_THEME_NAME=sylius/bootstrap-theme
