{% set enabled = order.shipments|length %}

<div class="hstack justify-content-between mt-4">
    <a href="{{ path('sylius_shop_checkout_address') }}" class="btn btn-light">
        {{ 'sylius.ui.change_address'|trans }}
    </a>
    <button type="submit" class="btn btn-primary{% if not enabled %} disabled{% endif %}" {{ sylius_test_html_attribute('next-step') }}>
        {{ 'sylius.ui.next'|trans }}
    </button>
</div>
