<div id="sylius-order" {{ sylius_test_html_attribute('order-table') }}>
    {% include '@SyliusShop/Common/Order/Table/_headers.html.twig' %}
    {% include '@SyliusShop/Common/Order/Table/_items.html.twig' %}
    {% include '@SyliusShop/Common/Order/Table/_totals.html.twig' %}
</div>
