<div class="hstack justify-content-between mt-4">
    <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-light">
        {{ 'sylius.ui.back_to_store'|trans }}
    </a>
    <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('next-step') }}>
        {{ 'sylius.ui.next'|trans }}
    </button>
</div>
