<div class="{{ withDescription ? 'vstack' : 'hstack' }} gap-2" id="appliedPromotions" data-applied-promotions-locale="{{ sylius.localeCode }}">
	{% for appliedPromotion in appliedPromotions %}
		<div class="d-flex gap-3 align-items-center">
			<div class="badge p-2 bg-primary sylius_catalog_promotion">
				{{ appliedPromotion.label }}
			</div>
			{% if appliedPromotion.description and withDescription %}
				<span class="text-primary">
					{{ appliedPromotion.description }}
				</span>
			{% endif %}
		</div>
	{% endfor %}
</div>
