<div class="{{ withDescription ? 'vstack' : 'hstack' }} gap-2" id="applied_promotions" data-applied-promotions-locale="{{ sylius.localeCode }}">
    {% for applied_promotion in applied_promotions %}
        <div class="d-flex gap-3 align-items-center">
            <div class="badge p-2 bg-primary sylius_catalog_promotion">
                {{ applied_promotion.label }}
            </div>
            {% if applied_promotion.description and withDescription %}
                <span class="text-primary">
					{{ applied_promotion.description }}
				</span>
            {% endif %}
        </div>
    {% endfor %}
</div>
