<div class="d-flex justify-content-between align-items-center mb-3">
    {% if not product.variants.empty() %}
        {% include '@SyliusShop/Product/Show/_price.html.twig' %}
    {% endif %}
    <small class="text-muted">{{ product.code }}</small>
</div>
