<div class="my-5 pb-5">
    <nav class="nav nav-pills bg-light rounded p-2">
        {% include '@SyliusShop/Product/Show/Tabs/_menu.html.twig' %}
    </nav>
    <div class="tab-content p-2 p-md-4 mt-2 border border-light rounded">
        {% include '@SyliusShop/Product/Show/Tabs/_content.html.twig' %}
    </div>
</div>
