{% set view_options = {
        authorized: {icon: "fas fa-check", color: "primary"},
        cancelled: {icon: "fas fa-ban", color: "warning"},
        completed: {icon: "fas fa-adjust", color: "success"},
        failed: {icon: "fas fa-ban", color: "danger"},
        new: {icon: "fas fa-clock", color: "secondary"},
        processing: {icon: "fas fa-check", color: "info"},
        refunded: {icon: "fas fa-reply-all", color: "light"},
}
%}

{% set value = 'sylius.ui.' ~ state %}

<span class="badge-{{ view_options[state]['color'] }} badge">
    <i class="{{ view_options[state]['icon'] }} icon"></i>
    {{ value|trans }}
</span>
