<div class="col mb-3">
    <h4>{{ 'sylius.ui.payment_methods'|trans  }}</h4>
    <div>
        <i class="fab fa-cc-mastercard fa-4x"></i>
        <i class="fab fa-cc-visa fa-4x"></i>
        <i class="fab fa-cc-paypal fa-4x"></i>
    </div>
</div>
