<div class="g-col-12 g-col-md-6 g-col-lg-3">
    <h3 class="fs-4 mb-3">{{ 'sylius.ui.payment_methods'|trans }}</h3>
    <div class="d-flex gap-2">
        <i class="fa-brands fa-cc-mastercard fa-3x"></i>
        <i class="fa-brands fa-cc-visa fa-3x"></i>
        <i class="fa-brands fa-cc-paypal fa-3x"></i>
    </div>
</div>
