<div class="g-col-12 g-col-md-6 g-col-lg-3">
    <a href="https://sylius.com/plus" target="_blank" class="d-block text-light text-center">
        <h3 class="fs-5 mb-3">
            Need even more features? <br/>
            <span class="fs-6">Check Sylius Plus out!</span>
        </h3>
        <img class="img-fluid mx-auto" style="max-width: 170px;" src="{{ asset('themes/bootstrap-theme/images/sylius-plus.png', 'bootstrapTheme') }}" alt="Sylius Plus">
    </a>
</div>
