// How to use utilities api: https://getbootstrap.com/docs/5.0/utilities/api/

$utilities: (
    "object-fit": (
        property: object-fit,
        values: contain cover fill none revert scale-down unset,
    ),
    "place-content": (
        property: place-content,
        values: center start end flex-start flex-end left right baseline first baseline last baseline space-between space-around space-evenly stretch safe center unsafe,
    ),
    "cursor": (
        property: cursor,
        values: auto default pointer,
    ),
);