{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

<div class="align-content-center bg-light border">
    <div class="col-12">
        {{ headers.default('sylius.homepage.about_us'|trans) }}
        <p>
            {{ 'sylius.homepage.about_us_content'|trans }}
        </p>
    </div>
</div>
