<div id="sylius-carousel" class="carousel slide col-12" data-ride="carousel">
    <div class="carousel-inner">
        {% for product in products %}
            <div class="carousel-item">
                {% include '@SyliusShop/Product/_box.html.twig' %}
            </div>
        {% endfor %}
    </div>

    <div class="carousel-nav">
        <a class="carousel-control-prev" href="#sylius-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#sylius-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
