{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

<section class="newsletter mb-3 row bg-light border">
    <div class="col-6">
        {{ headers.default('sylius.homepage.newsletter'|trans, '', 'sylius.homepage.newsletter_description'|trans) }}
    </div>

    <div class="col-6">
        <form>

        <div class="newsletter-input">
            <input type="text" placeholder="{{ 'sylius.ui.email'|trans }}">
        </div>
        <div class="newsletter-button">
            <button class="ui button">{{ 'sylius.homepage.subscribe'|trans }}
            </button>
        </div>
        </form>

    </div>
</section>
