{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

<section class="newsletter mb-3 d-flex align-items-center flex-wrap bg-light border text-center">
    <div class="px-3">
        {{ headers.default('sylius.homepage.newsletter'|trans, 'sylius.homepage.newsletter_description'|trans) }}
    </div>

    <div class="col-12 d-flex justify-content-center mb-5 my-0 px-3">
        <form>
            <div class="form-row">
                <div class="col-6 col-sm-8">
                    <input type="text" class="form-control"  placeholder="{{ 'sylius.ui.email'|trans }}">
                </div>

                <button class="col-6 col-sm-4 btn btn-primary px-3">
                    {{ 'sylius.homepage.subscribe'|trans }}
                </button>
            </div>
        </form>
    </div>
</section>
