<div class="column">
    <a href="{{ path('sylius_shop_homepage') }}">
        <img src="{{ asset('bootstrap-theme/images/sylius-logo.png', 'bootstrapTheme') }}" alt="Sylius logo" class="ui small image" />
    </a>
</div>
