{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<button type="submit" class="btn btn-outline-primary" id="sylius-cart-update" {{ sylius_test_html_attribute('cart-update-button') }}>
    <span class="me-2">{{ icons.reload() }}</span>
    {{ 'sylius.ui.update_cart'|trans }}
</button>
