{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% block breadcrumb '' %}

    <div class="grid gap-5 my-5">
        <div class="g-col-12 g-col-md-4 g-col-lg-3 mb-4">
            {{ sylius_template_event('sylius.shop.account.layout.menu') }}
        </div>
        <div class="g-col-12 g-col-md-8 g-col-lg-9">
            {{ sylius_template_event('sylius.shop.account.layout.before_subcontent') }}

            {% block subcontent %}
            {% endblock %}

            {{ sylius_template_event('sylius.shop.account.layout.after_subcontent') }}
        </div>
    </div>
{% endblock %}
