<div class="btn-group">
    <div id="sylius-cart-button">
        {{ sylius_template_event('sylius.shop.cart.widget.button', {'cart': cart}) }}

        <div class="dropdown-menu dropdown-menu-right" style="width:300px">
            {{ sylius_template_event('sylius.shop.cart.widget.popup', {'cart': cart}) }}
        </div>
    </div>
</div>
