{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% if app.session is not null and app.session.started %}
    {% for type in ['success', 'error', 'info', 'warning'] %}
        {% for flash in app.session.flashbag.get(type) %}
            {% if 'error' == type %}
                {% set result = 'danger' %}
                {% set icon = icons.danger() %}
            {% endif %}
            {% if 'info' == type %}
                {% set result = 'info' %}
                {% set icon = icons.info() %}
            {% endif %}
            <div class="alert alert-{{ result|default('success') }} alert-dismissible fade show  gap-4 d-flex align-items-center">
                <span class="fa-2x">
                    {{ icon|default(icons.success()) }}
                </span>
                <div>
                    <strong class="d-block">
                        {% set header = 'sylius.ui.' ~ type %}
                        {{ header|trans }}
                    </strong>
                    <p class="mb-0">
                        {{ flash is iterable ? flash.message|trans(flash.parameters, 'flashes') : flash|trans({}, 'flashes') }}
                    </p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
