<footer class="footer bg-dark py-5 text-white">
    {% include "@SyliusShop/Layout/Footer/Grid/_pre_footer.html.twig" %}

    <div class="container">
        {{ sylius_template_event('sylius.shop.layout.footer') }}
    </div>
</footer>
