<div class="container">
    <header class="my-4">
        <div class="d-flex align-items-center justify-content-between gap-2">
            {{ sylius_template_event('sylius.shop.layout.header.grid') }}
        </div>
    </header>
</div>
