{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% for payment in order.payments %}
<div class="card bg-light">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="pr-3" style="font-size:2rem;">{{ icons.creditCard() }}</div>
            <div>
                <div><strong>{{ payment.method }}</strong></div>
                <div>{{ money.format(payment.amount, payment.currencyCode) }}</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
