{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% for shipment in order.shipments %}
    {% set state = shipment.state %}

    <div class="card bg-light">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="pr-3" style="font-size:2rem;">{{ icons.transport() }}</div>

                <div id="sylius-shipping-method" {{ sylius_test_html_attribute('shipping-method') }}>
                    <strong>{{ shipment.method }}</strong>
                </div>

                {% if state != 'cart' %}
                    <span id="shipment-status" {{ sylius_test_html_attribute('shipment-state') }}>
                         {% include "@SyliusShop/Common/Order/Label/ShipmentState/singleShipmentState.html.twig" with {'state': state} %}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
