<div class="mb-4">
    {% include '@SyliusShop/Common/Order/_addresses.html.twig' %}
</div>

<div class="mb-4">
    {% include '@SyliusShop/Common/Order/_table.html.twig' %}
</div>

<div class="row mb-4">
    <div class="col" id="sylius-payments">
        {% include '@SyliusShop/Common/Order/_payments.html.twig' %}
    </div>
    <div class="col" id="sylius-shipments">
        {% include '@SyliusShop/Common/Order/_shipments.html.twig' %}
    </div>
</div>
