<div class="border-top border-bottom bg-light">
    <div class="container">
        {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
    </div>
</div>
