<div class="alert alert-warning" id="sylius-order-cannot-be-paid" {{ sylius_test_html_attribute('order-cannot-be-paid') }}>
    <h4 class="alert-heading">{{ 'sylius.ui.warning'|trans }}</h4>
    <p>{{ 'sylius.ui.no_payment_methods_available'|trans }}.</p>
</div>
