<div class="d-flex flex-wrap justify-content-center mb-3">
    {{ render(url('sylius_shop_partial_taxon_show_by_slug', {
        'slug': app.request.attributes.get('slug'),
        'template': '@SyliusShop/Taxon/_header.html.twig'
    })) }}

    {{ sylius_template_event('sylius.shop.product.index.search', _context) }}
</div>
