{% set paginationLimits = (resources.definition.limits) %}

<div class="dropdown sylius-paginate float-right">
    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
        {{ 'sylius.ui.show'|trans }} {{ resources.data.maxPerPage }}
    </button>
    <div class="dropdown-menu">
        {% for limit in paginationLimits if limit != resources.data.maxPerPage %}
            {% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'limit': limit})) %}
            <a class="dropdown-item" href="{{ path }}">{{ limit }}</a>
        {% endfor %}
    </div>
</div>

