{% set view_options = {
        cart: {icon: "fas fa-adjust", color: "secondary"},
        cancelled: {icon: "fas fa-ban", color: "danger"},
        shipped: {icon: "fas fa-plane", color: "success"},
        ready: {icon: "fas fa-clock", color: "primary"},
}
%}

{% set value = 'sylius.ui.' ~ state %}

<span class="badge-{{ view_options[state]['color'] }} badge mx-2">
    <i class="{{ view_options[state]['icon'] }} icon"></i>
    {{ value|trans }}
</span>
