<div class="text-center my-3">
    <button type="submit" class="btn btn-lg btn-primary" {{ sylius_test_html_attribute('confirmation-button') }}>
        {{ 'sylius.ui.place_order'|trans }}
    </button>
</div>
