<div class="row mt-4">
    <div class="col">
        <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-link">
            {{ 'sylius.ui.back_to_store'|trans }}
        </a>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('next-step') }}>
            {{ 'sylius.ui.next'|trans }}
        </button>
    </div>
</div>
