<div class="p-2 p-lg-4">
    <h4 class="mb-4">{{ 'sylius.ui.new_customers'|trans }}</h4>
    <a href="{{ path('sylius_shop_register') }}" class="btn btn-outline-primary btn-lg d-block">
        {{ 'sylius.ui.create_an_account'|trans }}
    </a>
</div>
