{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-4">
            {{ sylius_template_event('sylius.shop.product_review.index.product_box', _context) }}
        </div>
        <div class="col-12 col-md-8">
            <div id="sylius-product-reviews" {{ sylius_test_html_attribute('product-reviews') }}>
                {{ sylius_template_event('sylius.shop.product_review.index.list', _context) }}
            </div>
        </div>
    </div>
{% endblock %}
