<div class="col-auto d-flex align-items-center">
    <div class="ml-4">
        {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
    </div>
</div>
