<div class="col">
    <a href="{{ path('sylius_shop_homepage') }}">
        <img style="height: 50px" src="{{ asset('themes/bootstrap-theme/images/sylius-logo.png', 'bootstrapTheme') }}" alt=""/>
    </a>
</div>
