<div class="bg-light sticky-top z-3 border-bottom border-white">
    <div class="container">
        {{ render(url('sylius_shop_partial_channel_menu_taxon_index', {'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
    </div>
</div>
