<div class="col-12 col-sm mb-3 text-sm-center">
    <h4>&copy; {{ 'sylius.ui.your_store'|trans }}</h4>
    <p class="text-muted">{{ 'sylius.ui.powered_by'|trans }} <a href="http://sylius.com" target="_blank" style="color: #1abb9c;">Sylius</a>.</p>
</div>
