{% import '@SyliusShop/Common/Macro/money.html.twig' as money %}

<div class="list-group mb-2">
    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                {{ form_widget(form) }}
                {{ form_label(form) }}
            </h5>
            <small>{{ money.convertAndFormat(fee) }}</small>
        </div>
        {% if method.description is not null %}
            <p class="mb-1">{{ method.description }}</p>
        {% endif %}
    </div>
</div>
