<div class="grid bg-light rounded-3 text-center">
    <div class="g-col-12 g-col-lg-8 g-start-lg-3 p-3 py-lg-5">
        <h2 class="mb-4">{{ 'sylius.homepage.about_us'|trans }}</h2>
        <p class="text-secondary">{{ 'sylius.homepage.about_us_content'|trans|raw }}</p>
    </div>
</div>
