{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

<div {{ sylius_test_html_attribute('latest-products') }}>
    {{ headers.default('sylius.ui.latest_products'|trans) }}
    {{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Homepage/_list.html.twig'})) }}
</div>
