{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="homepage d-flex flex-column gap-5 mb-5">
        {{ sylius_template_event('sylius.shop.homepage') }}
    </div>
{% endblock %}
