<div class="container">
    <header class="my-4">
        <div class="row align-items-center no-gutters">

            {{ sylius_template_event('sylius.shop.layout.header.grid') }}

            {% if taxons is defined and taxons|length > 0 %}
            <div class="col-auto d-lg-none ml-2">
                <div class="navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
    </header>
</div>
