<div class="container">
    <header class="my-4">
        <div class="row align-items-center g-0">
            {{ sylius_template_event('sylius.shop.layout.header.grid') }}

            {{ render(url('sylius_shop_partial_channel_menu_taxon_index', {'template': '@SyliusShop/Taxon/_mobileMenu.html.twig'})) }}
        </div>
    </header>
</div>
