{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="mt-5 mb-3 text-center fw-bold">
        {{ 'sylius.ui.the_page_you_are_looking_for_does_not_exist'|trans }}
    </h2>

    <img src="{{ asset('bootstrap-theme/images/sylius-logo.png', 'bootstrapTheme') }}" alt="Sylius logo" class="img-fluid d-block mx-auto error-page-logo" />
{% endblock %}
