{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="mt-5 mb-3 text-center font-weight-bold">
        {{ 'sylius.ui.unexpected_error_occurred'|trans }}
    </h2>

    <img src="{{ asset('assets/shop/img/logo.png') }}" alt="Sylius logo" class="img-fluid" />
{% endblock %}
