{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="mt-5 mb-3 text-center fw-bold">
        {{ 'sylius.ui.server_has_encountered_some_errors'|trans }}
    </h2>

    <img src="{{ asset('bootstrap-theme/images/sylius-logo.png', 'bootstrapTheme') }}" alt="Sylius logo" class="img-fluid d-block mx-auto" />
{% endblock %}
