<div class="grid align-items-center">
    <div class="g-col-12 g-col-lg-6">
        &copy;
        {{ 'sylius.ui.your_store'|trans }}.
        {{ 'sylius.ui.powered_by'|trans }}
        <a href="http://sylius.com" class="link-primary" target="_blank">Sylius</a>.
    </div>

    <div class="g-col-12 g-col-lg-6 justify-content-end nav">
        <a target="_blank" class="nav-link" href="//facebook.com/SyliusEcommerce/">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a target="_blank" class="nav-link" href="//instagram.com/sylius.team/">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a target="_blank" class="nav-link" href="//twitter.com/sylius">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
    </div>
</div>
