{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

<div class="d-md-flex justify-content-between">
    <div>{{ headers.default('sylius.ui.register_in_the_store'|trans, '', 'sylius.ui.create_a_new_customer_account'|trans) }}</div>

    <div class="mb-3">
        <a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.have_an_account_already'|trans }} {{ 'sylius.ui.sign_in_here'|trans }}.</a>
    </div>
</div>
